.InfoBrayan{
    position: absolute;
    top: 0;
    width: 101%;
    height: 101%;
    padding: 10px 20px;
    z-index: 11;
    right: -2000px;
    transform: scaleZ(0);
    transition: right .2s ease, transform .3s ease;
}
.InfoBrayan.active{
    right: 0;
    transform: scaleZ(1);
}
.imagen2{
    position: relative;
    bottom: -14vh;
    left: 60px;
    height: 550px;
    width: 750px;
    overflow: hidden;
    background: transparent;
    border: 2px solid #262626;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(41, 41, 41, 0.986), inset 0 0 10px rgba(26, 26, 26, 0.986);
    transform: scale(0);
    transition: transform .3s ease,box-shadow .5s ease, border .5s ease;
}
.imagen2 img{
    position: relative;
    height: calc(100% - 0px);
    width: calc(100% - 0px);
}
.BoxCenter:hover .imagen2{
    border: 2px solid #F2F2F2;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.986), inset 0 0 10px rgba(255, 255, 255, 0.986);
    transform: scale(1);
}
.InfoBrayan h2{
    position:absolute;
    right: -500px;
    bottom: 600px;
    font-size: 1.8em;
    color: #F2F2F2;
    font-weight: 500;
    margin-left: 40px;
    transition: right .2s ease;
}
.InfoBrayan .Name2{
    bottom: 520px;
    font-size: 3.5em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.986);
}
#Soy2{
    bottom: 470px;
}
#Soy2 .multiText2{
    color: #F2F2F2;
    font-size: 1.3em;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.986);
}
.BoxCenter:hover .InfoBrayan h2{
    right: 55px;
}

.Pasar2{
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 50px;
    height: 50px;
    font-size: 2.2em;
    color: #262626;
    background-color: #F2F2F2;
    border-radius: 10px;
    transform: scale(0);
    transition: box-shadow .2s ease, transform .5s ease;
    cursor: pointer;
}
