/*
    Modificaciones generales, sin nada expecifico
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Data/Cubo\ blanco.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.BoxCenter{
    position: relative;
    width: 90%;
    height: 94vh;
    border-radius: 20px;
    padding: 15px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.986);
    overflow: hidden;
    z-index: 10;
    transform: scale(0.98);
    transition: transform .5s ease,height .5s ease,box-shadow .5s ease,border .5s ease,backdrop-filter .5s ease;
}
.BoxCenter:hover{
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.986), inset 0 0 10px rgba(255, 255, 255, 0.986);
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(50px);
    transform: scale(1);
}
.logo{
    color:#262626;
    font-size: 1.5em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.986);
    transition: text-shadow .5s ease, font-size .5s ease, color .5s ease;
    cursor:pointer;
}
.logo:hover{
    font-size: 1.55em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.986);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 55px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.Navegacion a{
    position: relative;
    font-size: 1.1em;
    color:#262626;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: color .5s ease;
}
.Navegacion a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #F2F2F2;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.Navegacion a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.BoxCenter:hover h2{
    color: #F2F2F2;
}
.BoxCenter:hover a{
    color: #F2F2F2;
}
/*
    Grupo
*/
.Integrantes{
    position: relative;
    top: 0;
    width: 101%;
    height: 101%;
    right: -2000px;
    transform: scaleZ(0);
    transition: right .2s ease, transform .3s ease;
}
.Integrantes.active{
    right: 0;
    transform: scaleZ(1);
}
